<!-- show.erb -->

<h1><%= @message.song_title %></h1>

<p>
  Singer: <%= @message.author %>
</p>

<p>
  <%= @message.content  %>
</p>


<p>
Other songs by same singer:


<% @message.other_messages(@message.author).each do |element| %>

<p>
 <%= element.song_title %>
</p>
<% end %>

</p>

<hr/>
<a href="/messages">Back to All Messages</a>