<h1>Messages</h1>
 
<% if user_logged_in? %>
  <p>Welcome <%= get_current_user.name %></p>
<% end %>
 
<% @users.each do |user| %>
    <div class="user">
        <h2><a href="/users/<%= user.id %>"><%= user.email %></a> <small>(by: <%= user.password %>)</small></h2>
        <p>
           "hi"        </p>
    </div>
<% end %>
 
<a href="/users/new">Post a user</a>